<div class="screen-controls">
	<button class="btn" type="button" ng-click="onEdit()">
		<img src="/videoApp/images/boris/icon-edit.png">
	</button>
	<button class="btn" ng-click="onShow()">
		<img src="/videoApp/images/boris/icon-view.png">
	</button>
	<button class="btn" ng-click="onSend()">
		<img src="/videoApp/images/boris/send.png">
	</button>
	<button class="btn" ng-click="onDownload()">
		<img src="/videoApp/images/boris/icon-dl1.png">
	</button>
	<button class="btn" ng-click="onRemove()">
		<img src="/videoApp/images/boris/icon-del1.png">
	</button>
</div>